<table class="article-table" style="width:100%; background-color:#232d37; color: #F84250; border-top: 1px solid #3d444d;">
    <tbody><tr>
    <th rowspan="4" width="20%" style="background-color: #0f1923;"><div class="center"><div class="floatnone"><a href="/wiki/Snake_Bite" title="Snake Bite">
    <img style="margin-left: 20px;" alt="Snake Bite.png" src="https://static.wikia.nocookie.net/valorant/images/a/a2/Snake_Bite.png/revision/latest/scale-to-width-down/100?cb=20200405224128" decoding="async" width="100" height="100" data-image-name="Snake Bite.png" data-image-key="Snake_Bite.png" data-src="https://static.wikia.nocookie.net/valorant/images/a/a2/Snake_Bite.png/revision/latest/scale-to-width-down/100?cb=20200405224128" class=" lazyloaded"></a></div></div>
    </th>
    <th colspan="2" width="80%" style="background-color: #0f1923; border-bottom: 1px solid #F84250;"><a href="/wiki/Snake_Bite" title="Snake Bite">Snake Bite</a>
    </th></tr>
    <tr>
    <td style="border-bottom: 1px solid #F84250;"><b>Type</b>: <span style="color:#ffffff">Basic</span>
    </td>
    <td style="border-bottom: 1px solid #F84250;"><b>Cost</b>: <span style="color:#ffffff"><a href="/wiki/Creds" title="Creds"><img alt="Creds" src="https://static.wikia.nocookie.net/valorant/images/8/81/Credits_icon.png/revision/latest/scale-to-width-down/10?cb=20200413181543" decoding="async" width="10" height="10" data-image-name="Credits icon.png" data-image-key="Credits_icon.png" data-src="https://static.wikia.nocookie.net/valorant/images/8/81/Credits_icon.png/revision/latest/scale-to-width-down/10?cb=20200413181543" class=" lazyloaded"></a> 100</span>
    </td></tr>
    <tr>
    <td style="border-bottom: 1px solid #F84250;"><b>Duration</b>: <span style="color:#ffffff"> 8 seconds | DPS: 26 (<a href="/wiki/Vulnerable" title="Vulnerable">Vulnerable</a> effect included) </span>
    </td>
    <td style="border-bottom: 1px solid #F84250;"><b>Health</b>: <span style="color:#ffffff"> N/A </span>
    </td></tr>
    <tr>
    <td colspan="2"><b>Description</b>: <span style="color:#ffffff">Equip a chemical launcher. <b>Fire</b> to launch a canister that shatters upon hitting the floor, creating a lingering chemical zone that damages enemies (24 dps) and applies Vulnerable, doubling incoming damage. Vulnerable lasts for 2 seconds upon leaving the area of effect.</span>
    </td></tr></tbody>
</table>
<table class="article-table" style="width:100%; background-color:#232d37; color: #F84250; border-top: 1px solid #3d444d;">
    <tbody><tr>
    <th rowspan="4" width="20%" style="background-color: #0f1923;"><div class="center"><div class="floatnone"><a href="/wiki/Poison_Cloud" title="Poison Cloud"><img  style="margin-left: 20px;" alt="Poison Cloud.png" src="https://static.wikia.nocookie.net/valorant/images/8/81/Poison_Cloud.png/revision/latest/scale-to-width-down/100?cb=20200405224117" decoding="async" width="100" height="100" data-image-name="Poison Cloud.png" data-image-key="Poison_Cloud.png" data-src="https://static.wikia.nocookie.net/valorant/images/8/81/Poison_Cloud.png/revision/latest/scale-to-width-down/100?cb=20200405224117" class=" lazyloaded"></a></div></div>
    </th>
    <th colspan="2" width="80%" style="background-color: #0f1923; border-bottom: 1px solid #F84250;"><a href="/wiki/Poison_Cloud" title="Poison Cloud">Poison Cloud</a>
    </th></tr>
    <tr>
    <td style="border-bottom: 1px solid #F84250;"><b>Type</b>: <span style="color:#ffffff">Basic</span>
    </td>
    <td style="border-bottom: 1px solid #F84250;"><b>Cost</b>: <span style="color:#ffffff"><a href="/wiki/Creds" title="Creds"><img  style="margin-left: 20px;" alt="Creds" src="https://static.wikia.nocookie.net/valorant/images/8/81/Credits_icon.png/revision/latest/scale-to-width-down/10?cb=20200413181543" decoding="async" width="10" height="10" data-image-name="Credits icon.png" data-image-key="Credits_icon.png" data-src="https://static.wikia.nocookie.net/valorant/images/8/81/Credits_icon.png/revision/latest/scale-to-width-down/10?cb=20200413181543" class=" lazyloaded"></a> 200</span>
    </td></tr>
    <tr>
    <td style="border-bottom: 1px solid #F84250;"><b>Duration</b>: <span style="color:#ffffff"> Costs 6.67 Fuel per Second, does not stack with Toxic Screen </span>
    </td>
    <td style="border-bottom: 1px solid #F84250;"><b>Health</b>: <span style="color:#ffffff"> N/A </span>
    </td></tr>
    <tr>
    <td colspan="2"><b>Description</b>: <span style="color:#ffffff">Equip a gas emitter. <b>Fire</b> to throw the emitter that perpetually remains throughout the round. Re-use the ability to create a toxic gas cloud at the cost of fuel. This ability can be re-used more than once and can be picked up to be redeployed.
    <p>Poison Orb goes on a 6 second cooldown after being deactivated.
    </p>
    </span></td></tr></tbody>
</table>
<table class="article-table" style="width:100%; background-color:#232d37; color: #F84250; border-top: 1px solid #3d444d;">
    <tbody><tr>
    <th rowspan="4" width="20%" style="background-color: #0f1923;"><div class="center"><div class="floatnone"><a href="/wiki/Toxic_Screen" title="Toxic Screen"><img  style="margin-left: 20px;" alt="Toxic Screen.png" src="https://static.wikia.nocookie.net/valorant/images/c/cd/Toxic_Screen.png/revision/latest/scale-to-width-down/100?cb=20200405224110" decoding="async" width="100" height="100" data-image-name="Toxic Screen.png" data-image-key="Toxic_Screen.png" data-src="https://static.wikia.nocookie.net/valorant/images/c/cd/Toxic_Screen.png/revision/latest/scale-to-width-down/100?cb=20200405224110" class=" lazyloaded"></a></div></div>
    </th>
    <th colspan="2" width="80%" style="background-color: #0f1923; border-bottom: 1px solid #F84250;"><a href="/wiki/Toxic_Screen" title="Toxic Screen">Toxic Screen</a>
    </th></tr>
    <tr>
    <td style="border-bottom: 1px solid #F84250;"><b>Type</b>: <span style="color:#ffffff">Signature</span>
    </td>
    <td style="border-bottom: 1px solid #F84250;"><b>Cost</b>: <span style="color:#ffffff">Free</span>
    </td></tr>
    <tr>
    <td style="border-bottom: 1px solid #F84250;"><b>Duration</b>: <span style="color:#ffffff"> Costs 6.67 Fuel per Second, does not stack with Poison Orb </span>
    </td>
    <td style="border-bottom: 1px solid #F84250;"><b>Health</b>: <span style="color:#ffffff"> N/A </span>
    </td></tr>
    <tr>
    <td colspan="2"><b>Description</b>: <span style="color:#ffffff">Equip a gas emitter launcher. <b>Fire</b> to deploy a long line of gas emitters. Re-use the ability to create a tall wall of toxic gas at the cost of fuel. This ability can be re-used more than once.
    <p>Toxic Screen burns through walls, placing emitters at all valid locations (e.g., the ground) over its length.
    </p>
    </span></td></tr></tbody>
</table>
<table class="article-table" style="width:100%; background-color:#232d37; color: #F84250; border-top: 1px solid #3d444d;">
    <tbody><tr>
    <th rowspan="4" width="20%" style="background-color: #0f1923;"><div class="center"><div class="floatnone"><a href="/wiki/Viper%27s_Pit" title="Viper's Pit">
    <img  style="margin-left: 20px;" alt="Viper's Pit.png" src="https://static.wikia.nocookie.net/valorant/images/c/cb/Viper%27s_Pit.png/revision/latest/scale-to-width-down/100?cb=20200802082936" decoding="async" width="100" height="100" data-image-name="Viper's Pit.png" data-image-key="Viper's_Pit.png" data-src="https://static.wikia.nocookie.net/valorant/images/c/cb/Viper%27s_Pit.png/revision/latest/scale-to-width-down/100?cb=20200802082936" class=" lazyloaded"></a></div></div>
    </th>
    <th colspan="2" width="80%" style="background-color: #0f1923; border-bottom: 1px solid #F84250;"><a href="/wiki/Viper%27s_Pit" title="Viper's Pit">Viper's Pit</a>
    </th></tr>
    <tr>
    <td style="border-bottom: 1px solid #F84250;"><b>Type</b>: <span style="color:#ffffff">Ultimate</span>
    </td>
    <td style="border-bottom: 1px solid #F84250;"><b>Cost</b>: <span style="color:#ffffff">7 Points</span>
    </td></tr>
    <tr>
    <td style="border-bottom: 1px solid #F84250;"><b>Duration</b>: <span style="color:#ffffff"> Infinite / 15 seconds </span>
    </td>
    <td style="border-bottom: 1px solid #F84250;"><b>Health</b>: <span style="color:#ffffff"> N/A </span>
    </td></tr>
    <tr>
    <td colspan="2"><b>Description</b>: <span style="color:#ffffff">Equip a chemical sprayer. <b>Fire</b> to spray a chemical cloud in all directions around Viper, creating a large cloud that reduces the vision range of players and maximum health of enemies inside of it. Hold the ability key to disperse the cloud early. Lasts forever if Viper returns to refuel it every 15 seconds, or remains inside.</span>
    </td></tr></tbody>
</table>